footer{
	background-color: lightblue;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0
	width 980px;
}

body{
	background-color: green;
}
h1{
	text-align: center;
}
