body{
	background-color: green;
	text-align: center;
}
.box{
	border: 2px solid black;
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-2{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-3{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-4{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-5{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-6{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-7{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-8{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-9{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-10{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-11{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-12{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-13{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-14{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-15{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-16{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-17{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-18{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}.box-19{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}

p{
	font-color: red;
}.box-20{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-21{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-22{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}
.box-23{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
} .box-24{
	text-align: center;
padding: 10px;
margin: 60px;
background-color: red;
}
p{
	font-color: red;
}